.main{
    position: relative;
    left: 0px;
    max-height: 100vh;
}
.maintab{
    position: absolute;
    width: 75%;
    left: 0px;
    max-height: 100vh;
    display: none;
}
#topnav{
    width: fit-content;
    margin-left: 0px;
    border: 1px solid;
    border-radius: 5px;
}
#bottomnav{
    width: fit-content;
    margin-left: 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 2px;
}
#leftcanvas{
    width: 660px;
    height: 100vh;
    position: absolute;
    z-index: 0;
    border: 1px solid;
}
#rightcanvas{
    width: 650px;
    height: 650px;
    position: absolute;
    z-index: 0;
    border: 1px solid;
}
#maintopdiv{
    margin-left: 3px;
    margin-top: 4px;
    height: 50px;
    width: 500px;
    padding: 12px 16px;
    /*background-color: dimgray;*/
    justify-content: center;
    margin: 2px;
}
#editdiv{
    display: inline-block;
}
#plusbtn{
    border-radius: 50%;
    font-size: 14px;
    border: 0px;
}
#minusbtn{
    border-radius: 50%;
    font-size: 14px;
    border: 0px;
}
#erasebtn{
    font-size: 14px;
    border:none;
}
#scalebtn{
    /*font-size: 14px;*/
}
#undobtn{
    border: none;
    width: 50px;
}
#redobtn{
    border: none;
    width: 50px;
    border-right: 2px ghostwhite;
}
#zoominbtn{
    border: none;
    width: 50px;
    background-color: royalblue;
}
#zoomoutbtn{
    border: none;
    width: 50px;
    background-color: royalblue;
}
#fittoscreenbtn{
    border: none;
    width: 50px;
    background-color: royalblue;
}
#singlescreenbtn{
    border: none;
    width: 50px;
    background-color: aliceblue;
}
#doublescreenbtn{
    border: none;
    width: 50px;
    background-color: aliceblue;
}
#savebtn{
    border:none;
    width: 40px;
    background-color: aliceblue;
}
#downloadbtn{
    border:none;
}
#settingbtn{
    border: none;
    width: 40px;
}
#pricingbtn{
    border: none;
    width: 100px;
}
#sidenav{
    float: right;
    list-style-type: none;
    /*width: fit-content;*/
    margin-top: 100px;
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    /*border: 1px solid;*/

}
#helpbtn{
    border: none;
    background-color: orange;
    width: 25px;
    border-radius: 5px;
    font-size: 12px;
    height: 30px;
}
#footer{
    margin-bottom: 2px;
    float: left;
    position: fixed;
}
#bottomsettingbtn{
    border: none;
    width: 40px;
}
#shopingbtn{
    border: none;
    width: 40px;
}
#bottombutton{
    width: 120px;
    border: none;
}
#sizebtn{
    border: cornflowerblue;
    width: 60px;
    border-radius: 10%;
    margin-left: 2px;
}
#colorbtn{
    margin-left: 2px;
    border: none;
    width: 100px;
}
#cropbtn{
    margin-left: 2px;
    border: none;
    width: 100px;
}
#shadowsbtn{
    margin-left: 2px;
    border: none;
    width: 100px;
    justify-content: space-around;
}
#bottomedgebutton{
    width: 200px;
    border: none;
}
#edgebtn{
    border: cornflowerblue;
    width: 60px;
    border-radius: 10%;
    margin-left: 2px;
}
#reviewbtn{
    border: cornflowerblue;
    width: 60px;
    border-radius: 10%;
    margin-left: 2px;
}
#sidenavbuttons{
    float: right;
    /*width: fit-content;*/
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 25px;
    /*margin-right: 5px;*/
    /*border: 1px solid;*/
}
#closebtn{
    border: none;
    width: 30px;
    border-radius: 5px;
    font-size: 12px;
    height: 30px;
}
#sidebarnav{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
#modebtn{
    border: 1px;
    font-size: small;
}
#photobtn{
    border: 1px;
    font-size: small;
}
#graphicbtn{
    width: 100px;
    border: 1px;
    font-size: small;
}
#autoclipbtn{
    margin-top: 15px;
    border: 1px;
    width: 110px;
    font-size: small;
}
#originalbtn{
    margin-top: 15px;
    border: 1px;
    width: 110px;
    font-size: small;
    padding: 3px;
    height: 50px;
}
#setting{
    display: none;
    background-color: white;
    max-width: 75%;
    border: 1px solid;
    justify-content: left;
}
#settingtop{
    border-bottom: 1px lightblue;
}
#Tabs{
    border: 1px dimgray;
}
#closesetting{
    float: right;
    margin-right: 20px
}
.fixed{
    border: 1px solid;
    position: sticky;

}
.psettings{
    font-style: italic;
    font-size: small;

}
.fontsize{
    font-size: medium;
    font-weight: bold;
}
.bottomdivs{
    position: absolute;
    top: 480px;
    left: 3px;
}
#ecommercediv{
    display: none;
}
#brushdiv{
    display: none;
}
#backgrounddiv{
    display: none;
}
#reviewdiv{
    display: none;
}
#edgediv{
    display: none;

}
#edgediv button{
    width:80px;
    text-align: center;
    color: white;
}
.edgebottomdiv{
    position: absolute;
    top: 450px;
    left: 3px;
}
#modalColor{
    width:130px;
    text-align: center;
    border: none;
    height: 60px;
}
#modalCrop{
    width:131px;
    text-align: center;
    border: none;
    height: 60px;
}
#modalShadow{
    width:120px;
    text-align: center;
    border: none;
    height: 60px;
}
#modalcropColor{
    width:130px;
    text-align: center;
    border: none;
    height: 60px;
}
#modalcropCrop{
    width:131px;
    text-align: center;
    border: none;
    height: 60px;
}
#modalcropShadow{
    width:120px;
    text-align: center;
    border: none;
    height: 60px;
}
#modalshadowColor{
    width:130px;
    text-align: center;
    border: none;
    height: 60px;
}
#modalshadowCrop{
    width:131px;
    text-align: center;
    border: none;
    height: 60px;
}
#modalshadowShadow{
    width:120px;
    text-align: center;
    border: none;
    height: 60px;
}
.modal-button{
    font-size: smaller;
    border: none;
    font-weight: lighter;
}
.modal-button-bottom{
    font-size: medium;
    border: 2px;
    font-weight: normal;
}
.modal-button i{
    font-size: smaller;
    border: none;
}
#modalcanvas{
    border: 1px solid;
    width: 100%;
    height: 85vh;
}
#modalcropcanvas{
    border: 1px solid;
    width: 100%;
    height: 85vh;
}
#modalshadowcanvas{
    border: 1px solid;
    width: 100%;
    height: 85vh;
}
.headmodal{
    width: 390px;
    position: sticky;
}